body{
	margin:0;
	color:#6a6f8c;
	background:url('/img/FondoAAdmin.jpg') no-repeat;
    height: 100vh;
    background-size: cover;background-repeat: no-repeat;
	font:600 16px/18px 'Open Sans',sans-serif;
}
.login-navbar{
    background-color: #111f4d;
}
.botona {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #2f3244;
	color: white;
	padding: 16px 20px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}